/* ----------------------- COLORS ----------------------- */

$color-dark:#1b1b1b;
$color-light:white;
$color-gold:#c7b8a5;
$color-ultra-dark:#131313;
$text-color:#898989;

/* ------------------------ MAGIN ----------------------- */

$padding-primary:5rem;